
/* Diagram styles */
.{{ diagram.tag }} {
    font-color: rgb{{ diagram.text.color }};
    font-family: {{ diagram.text.family }};
    font-size: {{ diagram.text.size }}px;
}


/* Pinlabel categories */
{% for key, val in pinlabel_categories.items() %}
    .{{ pinlabelrow.tag }} .{{ key }} rect{
        fill: rgb{{ val }};
    } 
    .{{ pinlabelrow.tag }} .{{ key }} path{
        stroke: rgb{{ val }};
    }
{% endfor %}


/* PinLabel common */
{% set r,g,b = (pinlabel.text.color) %}
.{{ pinlabel.tag }} text{
    fill: rgb({{ r }}, {{ g }}, {{ b }});
    font-family: {{ pinlabel.text.family }};
    font-size: {{ pinlabel.text.size }}px;
    font-weight: {{ pinlabel.text.weight }};
}


/* Legend */
{% set r,g,b = (legend.text.color) %}
.{{ legend.tag }} text{
    fill: rgb({{ r }}, {{ g }}, {{ b }});
    font-family: {{ legend.text.family }};
    font-size: {{ legend.text.size }}px;
    font-weight: {{ legend.text.weight }};
}
