
.{{ css.pinlabel.leaderline.tag }}{
    stroke-width: 2;
    fill: none;
}

.{{ css.pinlabel.text.tag }}{
    dominant-baseline: central;
    fill: #fff;
    font-family: Verdana, Georgia, sans-serif;
    font-size: 12px;
    font-weight: bold;
    stroke-width: 0;
    text-anchor: middle;
}

{% for (name, color) in css.tags %}
    .{{name}} .{{ css.pinlabel.body.tag }}{
        fill: rgb{{color}}
    }
    .{{name}} .{{ css.pinlabel.leaderline.tag }}{
        stroke: rgb{{color}}
    }
{% endfor %}

.{{ css.panel.inner.tag }} {
    fill: #fff;
}
.{{ css.panel.outer.tag }} {
    fill: #333;
}