
text {
    font-family: Helvetica, Verdana, Georgia, sans-serif;
    font-weight: normal;
    dominant-baseline: hanging; 
}


.bg_rect{
    fill: #f4f4f4;
}
.top_left_cnr{
    fill: #ff0000;
}

.alphanum text{
    fill: rgb(56, 113, 160);
}
.white text{
    fill: #fff;
}

.pttn__dot{
    opacity: 0.65;
    fill: rgb(96, 196, 221);
}

.stroke{
    stroke: rgb(255, 0, 255);
    fill: none;
}







.pinlabel__leader{
    fill: none;
}

.pinlabel__text{
    dominant-baseline: central;
    fill: #fff;
    font-weight: bold;
    text-anchor: middle;
}

.txrx .pinlabel__body{
    fill: rgb(210, 38, 193);
}
.txrx .pinlabel__leader{
    stroke: rgb(210, 38, 193);
}
.txrx .swatch__body {
    fill: rgb(210, 38, 193);
}
.pwr .pinlabel__body{
    fill: rgb(137, 113, 220);
}
.pwr .pinlabel__leader{
    stroke: rgb(137, 113, 220);
}
.pwr .swatch__body {
    fill: rgb(137, 113, 220);
}
.pwm .pinlabel__body{
    fill: rgb(193, 55, 43);
}
.pwm .pinlabel__leader{
    stroke: rgb(193, 55, 43);
}
.pwm .swatch__body {
    fill: rgb(193, 55, 43);
}
.gpio .pinlabel__body{
    fill: rgb(229, 47, 70);
}
.gpio .pinlabel__leader{
    stroke: rgb(229, 47, 70);
}
.gpio .swatch__body {
    fill: rgb(229, 47, 70);
}
.pin01 .pinlabel__body{
    fill: rgb(91, 165, 14);
}
.pin01 .pinlabel__leader{
    stroke: rgb(91, 165, 14);
}
.pin01 .swatch__body {
    fill: rgb(91, 165, 14);
}
.gnd .pinlabel__body{
    fill: rgb(154, 132, 49);
}
.gnd .pinlabel__leader{
    stroke: rgb(154, 132, 49);
}
.gnd .swatch__body {
    fill: rgb(154, 132, 49);
}
.adc .pinlabel__body{
    fill: rgb(99, 75, 69);
}
.adc .pinlabel__leader{
    stroke: rgb(99, 75, 69);
}
.adc .swatch__body {
    fill: rgb(99, 75, 69);
}

.panel__inner {
    fill: #fff;
}
.panel__outer {
    fill: #333;
}

.legend__entry text {
    dominant-baseline: central;
}
.annotation__body {
    fill: rgb(253, 203, 36);
}
.annotation__text text{
    dominant-baseline: auto; 
    font-weight: bold;
    fill: rgb(63, 40, 6);
    text-anchor: start;
}
.annotation__target {
    fill: none;
    stroke: rgb(253, 203, 36);
}
.annotation__leaderline {
    stroke: rgb(253, 203, 36);
    fill: none;
}


.ic__body{
    fill: rgb(85, 85, 85);
    stroke: #000;
}
.ic__leg .polarity{
    fill: rgb(85, 85, 85);
    stroke: rgb(138, 138, 138);
    
}
.ic__leg{
    fill: rgb(255, 255, 255);
    stroke: #000;
}