
text {
    font-family: Helvetica, Verdana, Georgia, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}

.bg_rect{
    fill: #f4f4f4;
}
.top_left_cnr{
    fill: #ff0000;
}

.alphanum text{
    fill: rgb(56, 113, 160);
    font-size: 35pt;
    letter-spacing: 2.45pt;
}
.white text{
    fill: #fff;
}

.pttn__dot{
    opacity: 0.65;
    fill: rgb(96, 196, 221);
}

.stroke{
    stroke-width: .5mm;
    stroke: rgb(255, 0, 255);
    fill: none;
}