

text {
    font-family: Verdana, Georgia, sans-serif;
    font-size: 14px;
    font-weight: normal;
}



    .pinlabel__leader{
        stroke-width: 2;
        fill: none;
    }

    .pinlabel__text{
        dominant-baseline: central;
        fill: #fff;
        
        font-weight: bold;
        stroke-width: 0;
        text-anchor: middle;
    }



        .gpio .pinlabel__body{
            fill: rgb(183, 76, 231);
        }
        .gpio .pinlabel__leader{
            stroke: rgb(183, 76, 231);
        }
        .gpio .swatch__body {
            fill: rgb(183, 76, 231);
        }
        .pwr .pinlabel__body{
            fill: rgb(109, 99, 25);
        }
        .pwr .pinlabel__leader{
            stroke: rgb(109, 99, 25);
        }
        .pwr .swatch__body {
            fill: rgb(109, 99, 25);
        }
        .pwm .pinlabel__body{
            fill: rgb(218, 96, 195);
        }
        .pwm .pinlabel__leader{
            stroke: rgb(218, 96, 195);
        }
        .pwm .swatch__body {
            fill: rgb(218, 96, 195);
        }
        .gnd .pinlabel__body{
            fill: rgb(25, 90, 5);
        }
        .gnd .pinlabel__leader{
            stroke: rgb(25, 90, 5);
        }
        .gnd .swatch__body {
            fill: rgb(25, 90, 5);
        }
        .touch .pinlabel__body{
            fill: rgb(200, 9, 45);
        }
        .touch .pinlabel__leader{
            stroke: rgb(200, 9, 45);
        }
        .touch .swatch__body {
            fill: rgb(200, 9, 45);
        }
        .comms .pinlabel__body{
            fill: rgb(57, 138, 188);
        }
        .comms .pinlabel__leader{
            stroke: rgb(57, 138, 188);
        }
        .comms .swatch__body {
            fill: rgb(57, 138, 188);
        }
        .analog .pinlabel__body{
            fill: rgb(96, 42, 122);
        }
        .analog .pinlabel__leader{
            stroke: rgb(96, 42, 122);
        }
        .analog .swatch__body {
            fill: rgb(96, 42, 122);
        }


    .panel__inner {
        fill: #fff;
    }
    .panel__outer {
        fill: #333;
    }


    .legendentry text {
        dominant-baseline: central;
    }


    .annotation__body {
        fill: rgb(253, 203, 36);
        stroke-width: 0;
    }
    .annotation__text {
        dominant-baseline: central;
        font-size: 14px;
        font-weight: bold;
        fill: rgb(63, 40, 6);
        text-anchor: middle;
    }
    .annotation__target {
        fill: none;
        stroke: rgb(253, 203, 36);
        stroke-width: 4px;
    }
    .annotation__leaderline {
        stroke: rgb(253, 203, 36);
        stroke-width: 4px;
        fill: none;
    }

