({{ component_type }} "Origin" (version {{ timestamp }}) (generator pinout)
  (layer "{{ layer }}")
  (tedit 61E8F602)
  (descr "Set origin coordinates for pinout")
  (attr board_only exclude_from_pos_files exclude_from_bom)
  (fp_text reference "pinout_origin" (at 1.5 1.5) ((layer "{{ layer }}")
    (effects (font (size 1 1) (thickness 0.15)) (justify left))
    (tstamp a5be2cb8-c68d-4180-8412-69a6b4c5b1d4)
  )
  (fp_text value "Place at image top left location." (at 1.5 3.5) ((layer "{{ layer }}")
    (effects (font (size 1 1) (thickness 0.15)) (justify left))
    (tstamp 7e1217ba-8a3d-4079-8d7b-b45f90cfbf53)
  )
  (fp_line (start 0.1 0.1) (end 4 0.1) ((layer "{{ layer }}") (width 0.2) (tstamp 5af68786-dcaa-470a-8141-92c8d9b5b57d))
  (fp_line (start 0.1 0.1) (end 0.1 4) ((layer "{{ layer }}") (width 0.2) (tstamp d1a9be32-38ba-44e6-bc35-f031541ab1fe))
)
