({{ component_type }} "Text" (version {{ version }}) (generator pinout)
  (layer "{{ layer }}")
  (tedit 61DE56D0)
  (descr "Provide text content to pinout.")
  (fp_text reference "pinout_text <identifier>" (at 0 -0.5 unlocked) (layer "{{ layer }}")
    (effects (font (size 1 1) (thickness 0.15)) (justify left))
    (tstamp 1cb64bfe-d819-47e3-be11-515b04f2c451)
  )
  (fp_text value "tag(s)" (at 0 1.27 unlocked) (layer "{{ layer }}")
    (effects (font (size 1 1) (thickness 0.15)) (justify left))
    (tstamp 9f4abbc0-6ac3-48f0-b823-2c1c19349540)
  )
  (fp_text user "Text content" (at 0 3.81 unlocked) (layer "{{ layer }}")
    (effects (font (size 1 1) (thickness 0.15)) (justify left))
    (tstamp d5f4d798-57d3-493b-b57c-3b6e89508879)
  )
)
