/*  
 *
 * Default SVG presentation attributes (styles)
 *
 */
 svg {
    fill-opacity: 1;
    font-family: Helvetica, Verdana;
    font-size: 16px;
    font-weight: normal;
    opacity: 1;
    
}
path, rect {
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-opacity: 1;
    stroke-width: 0;
}
path{
    fill: none;
}
rect {
    fill: #000;
}

text {
    dominant-baseline: auto;
}
/*  
 *
 * Default component styles
 *
 */

 .label__body{
    fill: rgb(36, 36, 36);
    stroke: rgb(24, 24, 24);
    stroke-width: 4;
}
.label__leaderline{
    stroke: rgb(24, 24, 24);
    stroke-width: 2;
}
.label__text{
    fill: #fff;
    dominant-baseline: central;
    text-anchor: middle;
}




.panel{
    stroke: #ccc;
    stroke-width: 2;
}
.panel--main{
    fill: #fff;
}
.panel--notes{
    fill: rgb(228, 228, 226);
}