
/* 

    # Label styling 
    
    Label 'tags' are used as css classes
    sample classes below are for demonstration and testing.

    The following classes are predefined (the last two are svg tags)
    and automatically applied to the diagram labels:
    + label
    + label_box
    + label_line
    + rect
    + text

    Replace the other user defined styles with your own 
    styles/tagging/taxonomy system.

*/


.label_box rect{ fill: rgb(160, 197, 58); }
.label_line{ stroke:   rgb(160, 197, 58); }

.pin-id .label_box rect{ fill: rgb(194, 100, 0); }
.pin-id .label_line{ stroke:   rgb(194, 100, 0); }

.analog-id .label_box rect{ fill: rgb(3, 86, 150); }
.analog-id .label_line{ stroke:   rgb(3, 86, 150); }
.adc .label_box rect{ fill: rgb(3, 86, 150); }
.adc .label_line{ stroke:   rgb(3, 86, 150); }

.power-mgt .label_box rect{ fill: rgb(151, 28, 0); }
.power-mgt .label_line{ stroke:   rgb(151, 28, 0); }

.touch .label_box rect{ fill: rgb(102, 13, 131); }
.touch .label_line{ stroke:   rgb(102, 13, 131); }

.comms .label_box rect{ fill: rgb(200, 156, 50); }
.comms .label_line{ stroke:   rgb(200, 156, 50); }

.comms-int .label_box rect{ fill: rgb(114, 108, 63); }
.comms-int .label_line{ stroke:   rgb(114, 108, 63); }

.type-i .label_box rect{ fill: rgb(138, 86, 46); }
.type-i .label_line{ stroke:   rgb(138, 86, 46); }

.type-o .label_box rect{ fill: rgb(75, 121, 191); }
.type-o .label_line{ stroke:   rgb(75, 121, 191); }

.type-io .label_box rect{ fill: rgb(100, 163, 157); }
.type-io .label_line{ stroke:   rgb(100, 163, 157); }

.timer-counter .label_box rect{ fill: rgb(160, 100, 163); }
.timer-counter .label_line{ stroke:   rgb(160, 100, 163); }

.power-pos .label_box rect{ fill: rgb(151, 28, 0); }
.power-pos .label_line{ stroke:   rgb(151, 28, 0); }

.power-neg .label_box rect{ fill: rgb(0, 0, 0); }
.power-neg .label_line{ stroke:   rgb(0, 0, 0); }

.label text{
    fill: #fff;
    font-family:verdana, san-serif; 
    font-size: 10px; 
    font-weight: bold;
}
