
/*
#########################################################
#
# Default SVG presentation attributes (styles)
#
#########################################################
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:wght@300;900&display=swap');

 svg {
    fill-opacity: 1;
    font-family: 'Roboto', Helvetica, Verdana, monospace;
    font-size: 13px;
    font-weight: 300;
    opacity: 1;
    
}
path, rect {
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: inherit;
    stroke-opacity: 1;
    stroke-width: 0;
}
path{
    fill: none;
}
rect {
    fill: rgba(0, 0, 0, 0);
}

text {
    dominant-baseline: auto;
}


/*
#########################################################
#
# Default component styles
#
#########################################################
*/

.label__body{
    fill: rgb(36, 36, 36);
}
.label__bodyinner{
    fill: none;
    stroke-linejoin: "miter";
}
.label .lline{
    stroke-width: 0;
}
.label__text{
    dominant-baseline: central;
    fill: #fff;
    font-size: 12px;
    font-weight: 600;
    stroke-width: 0;
    text-anchor: middle;
}

.legend rect{
    fill: none;
}
.legend .swatch__body{
    fill: rgba(0,0,0,0);
}
.legend-entry__text{
    dominant-baseline: central;
    fill: #000;
}


/*
#########################################################
#
# Arduino component styles
#
#########################################################
*/

.diagram__bg{
    fill: #333;
}

.panel--main .panel__bg{
    fill: #fff;
}

.panel--notes .panel__bg{
    fill: #e4e4e2;
}

.led .label__body,
.gnd .label__body,
.pwr .label__body,
.nc .label__body,
.nc .label__bodyinner,
.other .label__body,
.other .label__bodyinner{
    rx: 10px;
}

.label__row .label:first-child .lline,
.label.show-leader  .lline{
    stroke-width: 2px;
    stroke: #bcc6c6;
}

.led .label__body,
.led .swatch__body{
    fill: #1da086;
}

.mu-port .label__body,
.mu-port .swatch__body{
    fill: #f39c12;
}
.default .label__body,
.default .swatch__body{
    fill: #f1c40f;
}
.default .label__text{
    fill: #000;
}
.digital .label__body,
.digital .swatch__body{
    fill: url("#stripe-a");
}
    /* Custom svg pattern styling */
    #stripe-a rect{
        fill: #d35400;
    }

    #stripe-a path{
        fill: #de7f40;
    }

.analog .label__body{
    fill: url("#stripe-b");
}
    /* Custom svg pattern styling */
    #stripe-b rect{
        fill: #ffffff;
    }
    #stripe-b path{
        fill: #f8e6d9;
    }

.analog .label__bodyinner{
    fill: none;
    stroke: #d35400;
    stroke-width: 2;
}

.analog .label__text{
    fill: #d35400;
}

.analog .swatch__body{
    fill: url("#stripe-b");
    stroke: #d35400;
    stroke-width: 2;   
}
.pwr .label__body,
.pwr .swatch__body{
    fill: #c11f09;
}

.other .label__body,
.other .swatch__body{
    fill: #fff;
}

.other .label__bodyinner,
.other .swatch__body{
    stroke: #d86e29;
    stroke-width: 2;
}

.other .label__text{
    fill: #d86e29;
}

.gnd .label__body,
.gnd .swatch__body{
    fill: #000;
}

.internal .label__body,
.internal .swatch__body{
    fill: #94a3a6;
}

.swd .label__body,
.swd .swatch__body{
    fill: #9e856e;
}

.nc .label__body,
.nc .swatch__body{
    fill: #fff;
}
.nc .label__text{
    fill: #ccc;
}

.nc .label__bodyinner,
.nc .swatch__body{
    stroke: #ccc;
    stroke-width: 2;
}

/*
#########################################################
#
# Typography styles
#
#########################################################
*/
.h1{
    font-size: 28px;
    font-weight: 900;
}
.p{
    fill: #333;
}
.strong{ font-weight: bold; }
.italic{ font-style: italic; }