
path, rect {
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: inherit;
    stroke-opacity: 1;
    stroke-width: 0;
}
path{
    fill: none;
}
text {
    font-family: Verdana, Georgia, sans-serif;
    font-size: 14px;
    font-weight: 300;
    dominant-baseline: auto;
}



.label__body{
    fill: rgb(36, 36, 36);
}

.label .lline{
    stroke-width: 2;
}
.label__text{
    dominant-baseline: central;
    fill: #fff;
    font-size: 12px;
    font-weight: bold;
    stroke-width: 0;
    text-anchor: middle;
}



.legend .swatch__body{
    fill: rgba(0,0,0,0);
}
.legend-entry__text{
    dominant-baseline: central;
    fill: #000;
}
.legend__bg,
.legend-entry__bg{
    fill: #fff;
}
.legend-entry .swatch__body{
    fill: #ccc;
}



.annotation__bg{
    fill: rgb(230, 180, 10);
    stroke-width: 0;
}
.annotation__body text{
    dominant-baseline: central;
    font-size: 14px;
    fill: #000;
}
.annotation__target{
    fill: none;
    stroke: rgb(230, 180, 10);
    stroke-width: 4px;
}
.annotation .lline{
    stroke: rgb(230, 180, 10);
    stroke-width: 4px;
}



.diagram__bg{
    fill: rgb(51, 51, 51);
}
.panel .textblock__bg,
.panel__bg{
    fill: #fff;
}



.pwr .label__body,
.pwr .swatch__body{
    fill: rgb(173, 0, 0);
}
.pwr .lline{
    stroke: rgb(173, 0, 0);
}
.gpio .label__body,
.gpio .swatch__body{
    fill: rgb(130, 139, 48);
}
.gpio .lline{
    stroke: rgb(130, 139, 48);
}
.analog .label__body,
.analog .swatch__body{
    fill: rgb(18, 96, 133);
}
.analog .lline{
    stroke: rgb(18, 96, 133);
}
.led .label__body,
.led .swatch__body{
    fill: rgb(230, 180, 10);
}
.led .lline{
    stroke: rgb(230, 180, 10);
}
.comms .label__body,
.comms .swatch__body{
    fill: rgb(182, 69, 176);
}
.comms .lline{
    stroke: rgb(182, 69, 176);
}
.gnd .label__body,
.gnd .swatch__body{
    fill: #000;
}
.gnd .lline{
    stroke: #000;
}

.pwm .label__body,
.pwm .swatch__body{
    fill: rgb(28, 119, 123);
}
.pwm .lline{
    stroke: rgb(28, 119, 123);
}



.h1 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.italic{
    font-style: italic;
}
.strong{
    font-weight: bold;
}
.panel__name{
    fill: #ccc;
    font-weight: bold;
    font-style: italic;
}