
.label .lline{
    stroke-width: 2;
}
.label__text{
    dominant-baseline: central;
    fill: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
    stroke-width: 0;
    text-anchor: middle;
}

.lline{
    fill: none;
}

.digital .label__body, .digital .textblock__bg{ fill:rgb(77, 104, 107);}
.digital .lline{ stroke: rgb(77, 104, 107);}

.analog .label__body, .analog .textblock__bg{ fill:rgb(175, 116, 52);}
.analog .lline{ stroke: rgb(175, 116, 52);}

.pwm .label__body, .pwm .textblock__bg{ fill:rgb(202, 88, 67);}
.pwm .lline{ stroke: rgb(202, 88, 67);}

.audio .label__body, .audio .textblock__bg{ fill:rgb(213, 181, 0);}
.audio .lline{ stroke: rgb(213, 181, 0);}

.serial .label__body, .serial .textblock__bg{ fill:rgb(44, 143, 157);}
.serial .lline{ stroke: rgb(44, 143, 157);}

.i2c .label__body, .i2c .textblock__bg{ fill:rgb(55, 71, 100);}
.i2c .lline{ stroke: rgb(55, 71, 100);}

.spi .label__body, .spi .textblock__bg{ fill:rgb(54, 153, 110);}
.spi .lline{ stroke: rgb(54, 153, 110);}

.canbus .label__body, .canbus .textblock__bg{ fill:rgb(141, 106, 135);}
.canbus .lline{ stroke: rgb(141, 106, 135);}


.pwr .label__body, .pwr .textblock__bg{  fill: rgb(173, 0, 0);}
.pwr .lline{stroke: rgb(173, 0, 0);}

.gnd .label__body, .gnd .textblock__bg{fill: #000;}
.gnd .lline{stroke: #000;}


.diagram__bg{
    fill: #000;
}
.panel__bg{
    fill: rgb(244, 244, 244);
}


.legend__bg{
    fill: #000;
}
.legend__title{
    font-size: 16px;
    font-weight: bold;
    dominant-baseline: auto;
}
.legend text{
    fill: #fff;
}


text {
    font-family: Verdana, Georgia, sans-serif;
    font-size: 14px;
    font-weight: 300;
    dominant-baseline: auto;
}


.h1 text {
    font-size: 36px;
    font-weight: bold;
}
.h2 text {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.italic{
    font-style: italic;
}
.strong{
    font-weight: bold;
}
.url{
    fill: #0084ff;
    font-weight: bold;
}