.gnd .pinlabel__body,
.gnd .textblock__bg {
  fill: #000; }

.gnd .pinlabel__leader {
  stroke: #000; }

.gnd.legend__entry .panel__inner {
  fill: #000; }

.pwr .pinlabel__body,
.pwr .textblock__bg {
  fill: #ad0000; }

.pwr .pinlabel__leader {
  stroke: #ad0000; }

.pwr.legend__entry .panel__inner {
  fill: #ad0000; }

.digital .pinlabel__body,
.digital .textblock__bg {
  fill: #cfd5d5; }

.digital .pinlabel__leader {
  stroke: #cfd5d5; }

.digital.legend__entry .panel__inner {
  fill: #cfd5d5; }

.analog .pinlabel__body,
.analog .textblock__bg {
  fill: #ffd7ad; }

.analog .pinlabel__leader {
  stroke: #ffd7ad; }

.analog.legend__entry .panel__inner {
  fill: #ffd7ad; }

.pwm .pinlabel__body,
.pwm .textblock__bg {
  fill: #ffb3aa; }

.pwm .pinlabel__leader {
  stroke: #ffb3aa; }

.pwm.legend__entry .panel__inner {
  fill: #ffb3aa; }

.audio .pinlabel__body,
.audio .textblock__bg {
  fill: #f7f09d; }

.audio .pinlabel__leader {
  stroke: #f7f09d; }

.audio.legend__entry .panel__inner {
  fill: #f7f09d; }

.serial .pinlabel__body,
.serial .textblock__bg {
  fill: #c9daed; }

.serial .pinlabel__leader {
  stroke: #c9daed; }

.serial.legend__entry .panel__inner {
  fill: #c9daed; }

.i2c .pinlabel__body,
.i2c .textblock__bg {
  fill: #b1add7; }

.i2c .pinlabel__leader {
  stroke: #b1add7; }

.i2c.legend__entry .panel__inner {
  fill: #b1add7; }

.spi .pinlabel__body,
.spi .textblock__bg {
  fill: #c2e6b9; }

.spi .pinlabel__leader {
  stroke: #c2e6b9; }

.spi.legend__entry .panel__inner {
  fill: #c2e6b9; }

.canbus .pinlabel__body,
.canbus .textblock__bg {
  fill: #fedae2; }

.canbus .pinlabel__leader {
  stroke: #fedae2; }

.canbus.legend__entry .panel__inner {
  fill: #fedae2; }

.note .pinlabel__body,
.note .textblock__bg {
  fill: #ddd; }

.note .pinlabel__leader {
  stroke: #ddd; }

.note.legend__entry .panel__inner {
  fill: #ddd; }

.pinlabel__leader {
  fill: none;
  stroke-width: 0; }

.pingroup g .pinlabel:first-child .pinlabel__leader,
.lline--visible .pinlabel__leader {
  stroke-width: 2; }

.pinlabel__text {
  dominant-baseline: central;
  fill: #000;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -1px;
  stroke-width: 0;
  text-anchor: middle; }

.gnd .pinlabel__text,
.pwr .pinlabel__text {
  fill: #fff; }

.tight text {
  letter-spacing: -2px; }

.titlebar__bg {
  fill: white; }

.h1 text {
  font-size: 36px;
  font-weight: bold; }

.h2 text {
  font-size: 18px;
  font-weight: bold;
  font-style: italic; }

.italic {
  font-style: italic; }

.strong {
  font-weight: bold; }

.url {
  fill: #0084ff;
  font-weight: bold; }

text {
  fill: #000;
  font-family: Arial, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 300;
  dominant-baseline: auto; }

.legend__bg {
  fill: black; }

.legend__entry .panel__outer {
  fill: black; }

.legend__title {
  font-size: 18px;
  font-weight: bold;
  dominant-baseline: auto; }

.legend text {
  fill: #000;
  font-family: Arial, Georgia, sans-serif;
  font-size: 16px;
  font-weight: 300;
  dominant-baseline: auto; }

.diagram__bg {
  fill: #000; }

.panel__inner {
  fill: white; }
